In [5]:
num=24         # IF RASINAPPUDU : PETTALI
if num>2:
    print('hii')

hii

In [13]:
lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else: odd_sum=odd_sum+i 
print(even_sum,odd_sum)

56 53

In [21]:
def add(num1,num2): # : IS COMPLUSARY TO DEFINE FUNCTION OR WHEN USING IF OR FOR
    return num1 + num2

In [22]:
add(1,2)

3

In [44]:
def add_list(lst): 
    sum =0
    for i in lst:
        sum=sum+int(i)
    return sum

In [46]:
add_list([1,2,3,])

6

In [102]:
def even_odd(num):
    if i%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

In [103]:
even_odd(10)

'The number 10 is odd'

In [ ]:
def employee_details(id,package):
    return "Id is {} and package is {}$".format(id,package)

In [ ]:
employee_details("bml",100000)

In [ ]:
 def employee_details(Name):
        print(Name)

In [ ]:
employee_details("huu")

# lambda functions

A function without name

In [1]:
def name(i):
    if i>0:
        print('i is positive number')
    else:
        print("not positive")

In [2]:
name(4)

i is positive number

In [4]:
positive= lambda a,b:a+b

In [5]:
positive(1,2)# we can write easily

3

In [6]:
hii=lambda i:i%2==0

In [7]:
hii(12)

True

In [8]:
def add(x,y,z):
    return x+y*z # WE ARE WRITING CODE TWO LINES

In [9]:
add(1,2,3)

7

In [11]:
# to write code in one line
k=lambda x,y,z:x+y*z

In [12]:
k(1,2,3)

7

# FILTER

In [29]:
def even(num):
    if num%2==0:
        return num
    else:
         return "ju"

In [30]:
lst=[1,2,3,4,5,6,7,8,9]

In [31]:
list(filter(even,lst)) # FILTER IS used for filtering in numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list(map(even,lst)) # MAP just gives the RETURN value

['ju', 2, 'ju', 4, 'ju', 6, 'ju', 8, 'ju']

    LIST COMPREHENSION ([EXPRESSION,FOR LOOP, IF LOOP] # this is the order to listb comprehension

In [46]:
lst=[1,2,3,4,5,6]

In [48]:
lst1=[i*i for i in lst] # THIS IS LIST COMPREHENSIOMN

In [49]:
print(lst1)

[1, 4, 9, 16, 25, 36]

In [52]:
lst2=[i*i for i in lst if i%2==0]

In [53]:
print(lst2)

[4, 16, 36]