# Lists, tuples, dictionaries, and sets are all iterable objects.

# if we have large values in list and if we need to perform any operation we cannot allocate memory to every value so we use iterators

# TO convert these iterable functions to iteratoes we use iter()

In [4]:
lst=[1,2,3,4,5,6,7]

In [5]:
print(lst)

[1, 2, 3, 4, 5, 6, 7]

In [6]:
lst_1=iter(lst) # CONVERTING TO ITERATORS BECAUSE IT DOES NOT LOCATE MEMORY TO LIST. # IF LOCATERS MEMORY TO LIST ONLY FOR SINGLE VALUE WHEN USE USE NEXT()

In [7]:
print(lst_1) #here it is not printing because lst_1 doesnot take Or locate memory

<list_iterator object at 0x00000283D7EB5970>

In [8]:
next(lst_1)

1

In [9]:
next(lst_1)

2

In [13]:
next(lst_1) # WHEN WE PERFORM LST_1 IT JUST TAKING ONLY ONE VALUE

4

In [15]:
for i in lst_1:
    print(i)   # SEE WE ONLY GET AFTER 4 VALUES BECAUSE NEXT FUNCTION PERFORMED. that next taking one value at the time and going to next

5
6
7

In [17]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit)) # ONLY TAKES APPLE

apple

In [18]:
print(next(myit)) # WE GOT NEXT VALUE

banana

In [24]:
mystr = "banana"   # if we take string which contains single element it will takes one one letter.
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n

In [25]:
mystr = "banana","bun",'kun','jun','jhj'   # WE HAVE 5 STRINGS SO IT IS TAKING ONE ONE STRING 
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

banana
bun
kun
jun
jhj